body {
  background-image: url(https://img.freepik.com/free-photo/dramatic-white-clouds-blue-sky-from-airplane-window-view-colorful-sunset-cloudscape-background_90220-1208.jpg?t=st=1687472037~exp=1687472637~hmac=72b600d739e15018c71f9054bdd8fc89fde22417cc5dccaf5098ef5e6d5de93f&w=1800);
  background-size:cover;
}

#app {
    margin-top: 20px;
    height: 97vh;
    display: grid;
    grid-template-columns: 250px auto 250px;
    grid-template-rows: 65px auto 100px;
    grid-template-areas:
    "header header header"
    "news view ads"
    "footer footer footer";
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;

  }

  #nav-bar {
    grid-area: header;
    padding: 10px;
    background-color: rgb(55, 93, 126);
    border-radius: 10px;

  }

  #local-news {
    grid-area: news;
    margin: 10px;
    margin-left: 0;
    background-color: aliceblue;
    border: 1px solid lightgrey;
    border-radius: 10px;
  }

  #ads {
    grid-area: ads;
    margin: 10px;
    margin-right: 0;
    background-color: aliceblue;
    border: 1px solid lightblue;
    border-radius: 10px;
  }

  #route-view {
    grid-area: view;
    margin: 10px 0 10px 0;

  }

  footer {
    grid-area: footer;
    width: 100%;
    background-color: rgb(163, 195, 223);

    border-radius: 10px;


  }

  nav a {
    font-weight: bold;
    color: #2c3e50;
  }

  nav a.router-link-exact-active {
    color: #42b983;
  }
