#nav-bar {
    display: flex;
    padding: 0;
    align-items: center;

}

.hash {
    height: 65px;

    margin: 0 -10px;
}

#navlogo {
    margin-right: 20px;
    margin-left: 20px;
}
#title {
    width: 200px;
    text-align: start;
}

#title p{
    margin: 0;
    margin-left: 10px;
    color: rgb(149, 161, 166);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#title p:first-child {
    margin-top: 20px;
    margin-left: -2px;

}

#search {
    flex-grow: 1;
    padding-top: 20px;
    padding-right: 100px;
}

#search-input {
    border-radius: 10px;
    width: 250px;
}

#login-register {
    display: flex;
    width: 300px;

    align-items: center;
}

#nav-buttons {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.nav-button {
    height: 35%;
    width: 75px;
    border-radius: 10px;
    background-color: rgb(166, 180, 186);
    color: rgb(94, 96, 98);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

